<div class="palettes">
  <header fxLayout="row" fxLayoutAlign="center center">
    <h2 fxFlex>Base Palettes</h2>
  </header>

  <div class="palette" *ngFor="let palette of colors" id="{{ palette.name }}">
    <h2 class="palette__name">
      <a
        class="palette__link"
        routerLink="."
        [fragment]="palette.name"
      >
        <span aria-hidden="true" class="palette__link-icon" [inlineSVG]="svgAsset"></span>
        <span class="visually-hidden">Link to palette</span>
      </a>
      {{ palette.name | titlecase }}
    </h2>

    <div
        class="palette__colors"
        gdAuto
        gdGap="16px"
        gdColumns="repeat(auto-fill, minmax(300px, 1fr))"
    >
      <div class="color card" *ngFor="let color of palette.colors">
        <div
          class="color__display"
          [style.backgroundColor]="color.value"
          fxLayout="row"
          fxLayoutAlign="start end"
        >
          <h3>{{ color.humanName | titlecase }}</h3>
        </div>

        <tsdt-tokens
          [isColor]="true"
          [item]="color"
          [selectedReferences]="settingsService.selectedReferences$ | async"
          [colorFormat]="settingsService.selectedColorFormat$ | async"
        ></tsdt-tokens>

      </div>
    </div>
  </div>
</div>
