// Primary container for all palettes
.palettes {
  padding: var(--ts-space-inset-500);
}

.controls {
  background-color: var(--ts-color-base-palette7-300);
  padding: var(--ts-space-inset-300);
}

// Container for individual palette
.palette {
  --color-block-height: 120px;
  --grey-background: #EAEAEA;
  --grey-blue-text-color: #62748C;
  --title-shadow: 6px 1px 15px -7px black;
  margin-bottom: var(--ts-space-stack-700);
  padding: var(--ts-space-inset-500);

  // <h2> The palette name
  &__name {
    margin-bottom: var(--ts-space-stack-500);
    // Set up for inner link
    position: relative;

    &::before {
      color: var(--ts-color-base-palette7-500);
      content: 'Palette:';
      display: inline-block;
      margin-right: var(--ts-space-inline-200);
    }

    &:focus,
    &:hover {
      .palette__link {
        opacity: 1;
      }
    }
  }

  // <a> The link to the palette
  &__link {
    color: var(--ts-color-base-black);
    opacity: 0;
    position: absolute;
    right: 100%;
    transition-property: opacity, transform;
    transition-duration: var(--ts-animation-time-duration-200);
    transition-timing-function: var(--ts-animation-easing-ease);

    &:not(:hover) {
      transform: scale(.8);
    }

    &:focus,
    &:hover {
      color: var(--ts-color-base-palette1-500);
      opacity: 1;
    }

    // <span> Container for svg
    &-icon {
      vertical-align: middle;
    }

    svg {
      fill: var(--ts-color-base-palette1-500);
    }
  }

  // Container for a color within a palette
  .color {
    background-color: var(--ts-color-base-white);
    border-radius: var(--ts-border-radius-base);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.20), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);

    &__display {
      border-radius: var(--ts-border-radius-base) var(--ts-border-radius-base) 0 0;
      height: var(--color-block-height);

      h3 {
        background-color: var(--ts-color-base-white);
        border-radius: 0 var(--ts-border-radius-base) var(--ts-border-radius-base) 0;
        box-shadow: var(--title-shadow);
        padding: var(--ts-space-inset-300);
        margin-bottom: var(--ts-space-stack-400);
      }
    }

    &__definition {
      border-top: 1px solid var(--ts-color-base-palette7-300);
      padding: var(--ts-space-inset-300);
    }
  }

  dt {
    color: var(--grey-blue-text-color);
    font-size: var(--ts-typography-size-200);
    margin-bottom: var(--ts-space-stack-200);

    &::after {
      content: ':';
      display: inline-block;
    }
  }

  dd {
    cursor: copy;
    font-family: var(--ts-typography-stack-base-monospaced);
    font-size: var(--ts-typography-size-300);
    transition: color var(--ts-animation-time-duration-200) var(--ts-animation-easing-ease);

    &:not(:last-of-type) {
      margin-bottom: var(--ts-space-stack-500);
    }

    &:focus,
    &:hover {
      color: var(--ts-color-base-palette2-500);
    }
  }
}
